.form {
  position: relative;
  left: 10px;
  top: 10px;
  width: 600px;
  height: 155px;
  border: solid;
  border-color: #696969;
}

.title {
  position: absolute;
  top: 15px;
  left: 25px;
  height: 30px;
  width: 550px;
}

.textArea {
  position: absolute;
  top: 55px;
  left: 25px;
  height: 80px;
  width: 550px;
}

.description {
  position: absolute;
  top: 55px;
  left: 25px;
  height: 80px;
  width: 550px;
}

.form-description {
  position: relative;
  top: 20px;
  left: 100px;
}

.add-question {
  position: relative;
  top: 18px;
  left: 10px;
  font-size: 15px;
}

.add-question2 {
  position: relative;
  top: 165px;
  font-size: 15px;
}

.question-field {
  position: relative;
  top: 10px;
  left: 10px;
  border: solid;
  border-color: #696969;
  width: 600px;
  height: 155px;
}
